@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Sunflower:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: "Sunflower", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--second);
  scroll-behavior: smooth;
  transition: all 400ms ease;
}

:root {
  --prime: #285;
  --light-prime: rgb(218, 248, 233);
  --second: #fff;
}

::selection {
  background-color: var(--prime);
  color: var(--second);
}

nav {
  background-color: var(--prime);
  color: var(--second);
  padding: 1rem;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 3rem;
}

nav ul li a {
  color: var(--second);
  transition: all 250ms ease;
  padding: .3rem 1rem;
  border-radius: .3rem;
}

nav ul li a:hover {
  text-decoration: none;
  background-color: var(--second);
  color: var(--prime);
}

.nav-logo {
  height: 9rem;
  width: auto;
  margin-top: 7rem;
  border: solid .3rem var(--second);
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--prime);
  transition: all 500ms ease;
}

.nav-logo:hover {
  transform: rotate(360deg);
}

.hero {
  background-image: url("img/hero.jpg");
  height: 92vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--second);
  font-family: "Charm", "Sunflower", "Roboto", sans-serif;
}

.hero .logo {
  height: 10rem;
  width: auto;
}

.hero a {
  transition: all 400ms ease;
}

.hero a:hover {
  transform: rotate(360deg);
}

.hero h1 {
  font-size: 5rem;
  text-align: center;
  padding: 2rem;
  background-color: var(--prime);
  border-radius: .75rem;
  border: solid .3rem var(--second);
}

.hero p {
  font-size: 2.5rem;
  text-align: center;
}

.section,
.about-text {
  font-size: 1.3rem;
  margin: 1rem 4rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h2 {
  background-color: var(--prime);
  color: var(--second);
  padding: .2rem 1rem;
  border-radius: .5rem;
  font-family: "Charm", "Sunflower", "Roboto", sans-serif;
}

#about {
  display: flex;
  flex-direction: row;
}

.about-img img {
  width: 30rem;
  height: auto;
}

.needs-padding {
  padding-bottom: 2rem;
}

.trainer-link {
  color: var(--prime);
  background-color: var(--second);
  padding: 2rem 5rem;
  font-size: 3rem;
  text-decoration: none;
  border-radius: .5rem;
  border: solid var(--prime);
  transition: all 250ms ease;
  margin-bottom: 1rem;
}

.trainer-link:hover {
  background-color: var(--prime);
  color: var(--second);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

form input {
  font-family: "Sunflower", "Roboto", sans-serif;
  border: 0;
  padding: .2rem 1rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  width: 40rem;
  height: 4rem;
  background-color: var(--light-prime);
}

form textarea {
  font-family: "Sunflower", "Roboto", sans-serif;
  resize: none;
  font-size: 1.3rem;
  border: 0;
  border-radius: .5rem;
  padding: 1rem;
  width: 40rem;
  height: 17.5rem;
  background-color: var(--light-prime);
}

form button {
  border: 0;
  background-color: var(--prime);
  color: var(--second);
  font-family: "Sunflower", "Roboto", sans-serif;
  padding: .2rem 1.5rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: all 250ms ease;
  border: solid .3rem var(--prime)
}

form button:hover {
  background-color: var(--second);
  color: var(--prime);
  border: solid .3rem;
}

form input:focus,
form textarea:focus {
  outline: solid .2rem var(--prime);
  background-color: var(--second);
}

form input::selection,
form textarea::selection {
  background-color: var(--prime);
  color: var(--second);
}

footer {
  background-color: var(--prime);
  padding: 1rem;
  margin-top: 3rem;
  color: var(--second);
  font-size: 1.5rem;
  text-align: center;
}

footer p {
  margin: 1rem;
}

footer a {
  color: var(--second);
  transition: all 250ms ease;
  padding: .3rem .5rem;
  border-radius: .2rem;
}

footer a:hover {
  text-decoration: none;
  background-color: var(--second);
  color: var(--prime);
}

@media only screen and (max-width: 1062px) {
  .form {
    flex-direction: column;
  }
}

@media only screen and (max-width: 924px) {
  .section {
    margin: 1.5rem;
  }

  #about {
    flex-direction: column;
  }
}

@media only screen and (max-width: 754px) {
  .hero h1 {
    font-size: 3rem;
  }
  
  nav ul li {
    display: none;
  }
}

@media only screen and (max-width: 617px) {
  .section {
    margin: 1rem;
  }

  nav ul {
    gap: 2rem;
  }

  form,
  .form,
  .inputs,
  form input,
  form textarea {
    width: 100%;
  }
}